[Desktop Entry]
Name[af]=dwm
Name[an]=dwm
Name[ar]=جنوم
Name[as]=dwm
Name[ast]=dwm
Name[be]=dwm
Name[be@latin]=dwm
Name[bg]=dwm
Name[bn]=dwm
Name[bn_IN]=dwm
Name[br]=dwm
Name[bs]=dwm
Name[ca]=dwm
Name[ca@valencia]=dwm
Name[crh]=dwm
Name[cs]=dwm
Name[csb]=dwm
Name[da]=dwm
Name[de]=dwm
Name[dz]=ཇི་ནོམ་ 
Name[el]=dwm
Name[en_GB]=dwm
Name[en@shaw]=·𐑜𐑯𐑴𐑥
Name[eo]=dwm
Name[es]=dwm
Name[et]=dwm
Name[eu]=dwm
Name[fa]=گنوم
Name[fi]=dwm
Name[fr]=dwm
Name[fur]=dwm
Name[fy]=dwm
Name[ga]=dwm
Name[gd]=dwm
Name[gl]=dwm
Name[gu]=dwm
Name[he]=‏dwm
Name[hi]=गनोम
Name[hr]=dwm
Name[hu]=dwm
Name[id]=dwm
Name[is]=dwm
Name[it]=dwm
Name[ja]=dwm
Name[ka]=dwm
Name[kk]=dwm
Name[km]=dwm
Name[kn]=dwm
Name[ko]=그놈
Name[lt]=dwm
Name[lv]=dwm
Name[mai]=गनोम
Name[mk]=dwm
Name[ml]=ഗ്നോം
Name[mr]=dwm
Name[ms]=dwm
Name[nb]=dwm
Name[nds]=dwm
Name[ne]=जिनोम
Name[nl]=dwm
Name[nn]=dwm
Name[oc]=dwm
Name[or]=ନୋମ
Name[pa]=ਗਨੋਮ
Name[pl]=dwm
Name[ps]=ګنوم
Name[pt]=dwm
Name[pt_BR]=dwm
Name[ro]=dwm
Name[ru]=dwm
Name[sk]=dwm
Name[sl]=dwm
Name[sr]=Гном
Name[sr@latin]=dwm
Name[sv]=dwm
Name[ta]=dwm
Name[te]=గ్నోమ్
Name[tg]=dwm
Name[th]=dwm
Name[tr]=dwm
Name[ug]=گىنوم(dwm)
Name[uk]=dwm
Name[uz]=dwm
Name[uz@cyrillic]=dwm
Name[vi]=dwm
Name[zh_CN]=dwm
Name[zh_HK]=dwm
Name[zh_TW]=dwm
Name=dwm
Comment[af]=Hierdie sessie laat mens aanmeld by dwm
Comment[an]=Ista sesión accede a dwm
Comment[ar]=تولجك هذه الجلسة في جنوم
Comment[as]=এই অধিবেশনে আপোনাক dwm ত লগিন কৰায়
Comment[ast]=Esta sesión conéuta-y a dwm
Comment[be]=Сеанс уваходу ў dwm
Comment[be@latin]=Hetaja sesija ŭruchamlaje dwm
Comment[bg]=Влизане в dwm
Comment[bn]=এই সেশনের মাধ্যমে dwm-এ লগ-ইন করা যাবে
Comment[bn_IN]=এই সেশানের মাধ্যমে dwm-এ লগ-ইন করা যাবে
Comment[br]=An estez-mañ a lug ac'hanoc'h davet dwm
Comment[bs]=Ova sesija Vas prijavljuje u dwm
Comment[ca]=Aquesta sessió us entra al dwm
Comment[ca@valencia]=Esta sessió vos entra al dwm
Comment[crh]=Bu oturım sizni dwm'ğa içeri imzalandırır
Comment[cs]=Toto sezení vás přihlásí do dwm
Comment[da]=Denne session logger dig ind i dwm
Comment[de]=Diese Sitzung meldet Sie bei dwm an
Comment[dz]=ལཱ་ཡུན་འདི་གིས་ ཁྱོད་ ཇི་ནོམ་ནང་ལུ་ ནང་བསྐྱོད་འབདཝ་ཨིན་ 
Comment[el]=Αυτή η συνεδρία σας συνδέει στο dwm
Comment[en_GB]=This session logs you into dwm
Comment[en@shaw]=𐑞𐑦𐑕 𐑕𐑧𐑖𐑩𐑯 𐑤𐑪𐑜𐑟 𐑿 𐑦𐑯𐑑𐑫 ·𐑜𐑯𐑴𐑥
Comment[eo]=Ĉi tiu seanco ensalutas vin en dwm
Comment[es]=Esta sesión accede a dwm
Comment[et]=Selle seansiga logitakse sind dwm keskkonda sisse
Comment[eu]=Saio honek dwmn sartuko zaitu
Comment[fa]=این نشست شما را به گنوم وارد می‌کند
Comment[fi]=Tämä istunto kirjautuu dwmen
Comment[fr]=Cette session vous connecte dans dwm
Comment[fur]=Cheste session ti fasarà jentrâ in dwm
Comment[fy]=Dizze sesje meld jo oan by dwm
Comment[ga]=Logálann an seisiún seo thú isteach i ndwm
Comment[gd]=Clàraidh an seisean seo a-steach gu dwm thu
Comment[gl]=Esta sesión iniciará en dwm
Comment[gu]=આ સત્ર તમને dwm માં પ્રવેશ આપે છે
Comment[he]=הפעלה זאת מחברת אותך לשולחן העבודה dwm
Comment[hi]=यह सत्र गनोम में लॉगइन होगा
Comment[hr]=Ova sesija vas prijavljuje u dwm
Comment[hu]=Bejelentkezés a dwm környezetbe
Comment[id]=Sesi ini melogkan Anda ke dalam dwm
Comment[is]=Þessi seta skráir þig inn í dwm
Comment[it]=Questa sessione esegue l'accesso in dwm
Comment[ja]=このセッションで dwm にログインします
Comment[ka]=ეს სესია გნომში შესვლის საშუალებას იძლევა
Comment[kk]=Бұл сессия арқылы dwm-ға кіресіз
Comment[km]=សម័យ​នេះ​ជា​កំណត់​ហេតុ​ដែល​អ្នក​ទៅ​កាន់ dwm
Comment[kn]=ಈ ಅಧಿವೇಶನವು ನಿಮ್ಮನ್ನು dwm ಗೆ ಪ್ರವೇಶಿಸುವಂತೆ ಮಾಡುತ್ತದೆ
Comment[ko]=이 세션을 사용하면 그놈에 로그인합니다
Comment[lt]=Šis seansas prijungia jus prie dwm
Comment[lv]=Šī sesija ieraksta jūs dwm vidē
Comment[mai]=ई सत्र अहाँक गनोममे लागिन दैछ
Comment[mk]=Оваа сесија Ве најавува во dwm
Comment[ml]=ഈ പ്രവര്‍ത്തനവേള നിങ്ങളെ ഗ്നോമിലേക്ക് കയറ്റുന്നു
Comment[mr]=dwm मध्ये दाखल करण्याजोगी सत्र लॉग
Comment[ms]=Sesi ini akan log masuk ke dwm
Comment[nb]=Denne økten logger inn i dwm
Comment[nds]=Düsser Törn mellt dik bi dwm an
Comment[ne]=यो सत्र जिनोम लगईन हुन्छ
Comment[nl]=Deze sessie laat u in dwm inloggen
Comment[nn]=Denne økta loggar inn i dwm
Comment[oc]=Aquesta session vos connècta dins dwm
Comment[or]=ଏହି ଅଧିବେଶନ ଆପଣଙ୍କୁ ନୋମ ରେ ଲଗ କରାଇଥାଏ
Comment[pa]=ਇਹ ਸ਼ੈਸ਼ਨ ਤੁਹਾਨੂੰ ਗਨੋਮ ਵਿੱਚ ਲਾਗ ਕਰਦਾ ਹੈ
Comment[pl]=Ta sesja loguje użytkownika do środowiska dwm
Comment[ps]=دا ناسته تاسو ګنوم ته ننباسي
Comment[pt]=Esta é uma sessão no dwm
Comment[pt_BR]=Essa sessão o leva ao dwm
Comment[ro]=Această sesiune vă va autentifica în dwm
Comment[ru]=Этот сеанс позволяет вам войти в dwm
Comment[sk]=Táto relácia vás prihlási do dwm
Comment[sl]=Seja omogoča prijavo v namizje dwm.
Comment[sr]=Ова сесија вас пријављује у Гном
Comment[sr@latin]=Ova sesija vas prijavljuje u dwm
Comment[sv]=Denna session loggar in dig i dwm
Comment[ta]=இந்த அமர்வு க்நோம் இல் உங்களை நுழைக்கும் 
Comment[te]=ఈ సెషన్ గ్నోమ్‌లోనికి లాగ్ చేస్తుంది
Comment[tg]=Ин ҷаласа шуморо ба dwm ворид мекунад
Comment[th]=วาระนี้จะเข้าสู่ dwm
Comment[tr]=Bu oturum dwm girişi yapmanızı sağlar
Comment[ug]=بۇ ئەڭگىمە سىزنى گىنومغا ئەكىرىدۇ.
Comment[uk]=Це — сеанс входу в dwm
Comment[uz]=Ushbu seans dwm'ga kirishingizni taʼminlaydi
Comment[uz@cyrillic]=Ушбу сеанс dwm'га киришингизни таъминлайди
Comment[vi]=Phiên làm việc này sẽ đăng nhập bạn vào dwm
Comment[zh_CN]=此会话将您登录到 dwm
Comment[zh_HK]=這個作業階段讓你登入 dwm
Comment[zh_TW]=這個工作階段讓您登入 dwm
Comment=This session logs you into dwm
Exec=/usr/local/bin/dwm
TryExec=/usr/local/bin/dwm
Type=Application
DesktopNames=dwm
